
.center{
    text-align: center;

}
.gambar{
    background-image: url('http://i66.tinypic.com/28am9fs.jpg');
    background-size: cover;
    text-align: center;
}
.pakding{
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid rgb(231,231,231);
    border-bottom: 1px solid rgb(231,231,231);
}
body{
    background-color: #FAFAFA;
}
.batas-margin{
    margin-left: auto;
    margin-right: auto;
}
.sponsor-body{
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7; 
    margin-bottom: 0px;
    
}
.footer{
    display: block;
    height: 60px;
    width: 100%;
    background-color:white;
    border-top: 1px solid rgb(231,231,231);
    text-align: center;
    padding: 20px;
    left: 0px;

    
}
.kecil-merah{
    color: red;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0;
}
.kecil{
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0;

}
.contact-us{
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.shadow{
    -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.card:hover{
    -moz-box-shadow: 8px 15px 0px #9AA3A8;
    -webkit-box-shadow: 8px 15px 0px #9AA3A8;
    box-shadow: 8px 15px 0px #9AA3A8;
    -webkit-transition: all 500ms ease;
}
card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}